<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NCLAB - MicroProcessor Project</title>
    <!--[if IE]>
        <script src="http://htmlSshiv.googlecode.com/svn/trunk/thml5.js"></script>
    <![endif]-->
</head>
<body id="home">
    <div id="wrapper">
        <header>
            <h1><a href="/"><img src = "/img/img1.png" width="250" height="200"></a></h1>
            <h2>MicroProcessor Project in Network Computing Lab</h2>

            <nav>
                <a href="/">Home</a>
                <a href="stream">Streaming</a>
                <a href="video_log">Video Log</a>
                <div class="clrearfix"></div>
            </nav>
        </header>

        <br/>
        <section id ="main-content">
            <div id="featured">
                <h3>About Project :</h3>
                <p><img src="/img/img2.png" width="50" height="50"></p>
                <h5>We are using RasPi3, Picam, mjpg-streamer and openCV for motion detecting and face recognization.<br/> </h5>
            </div> <!-- END Featured -->
        </section>
        <hr/>
    
    </div> <!-- END Wraaper -->
</body>
</html>

