<body id="home" onloads="createImageLayer();">
    <div id="wrapper">
        <header>
            <h1><a href="/"><img src = "/img/img1.png" width="250" height="200"></a></h1>
            <h2>MicroProcessor Project in Network Computing Lab</h2>

            <nav>
                <a href="/">Home</a>
                <a href="stream">Streaming</a>
                <a href="video_log">Video Log</a>
                <div class="clrearfix"></div>
            </nav>
        </header>

        <br/>
        <section id ="main-content">
            <div id="featured">
                <h3>Video Log :</h3>
                <h1><img src="/img/img1.png"></h1>
                <p><br/></p>
            </div> <!-- END Featured -->
            <div class="clearfix"></div>
        <hr/>
        </section>
    </div> <!-- END Wraaper -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</body>
</html>

